<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
</head>
<body>
<header>
    <h1>Shop app</h1>
            <div style="display:flex;">
            {% if request.user.is_authenticated %}
                <p>Вы {{request.user.username}}</p>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Log in</a>
            {% endif%}
        </div>
    <a href="{% url 'main' %}">Главная страница</a>
    <a href="{% url 'catalog' %}">Каталог</a>
</header>
{% block products %}

{% endblock %}

</body>
</html>